.App {
  font-family: sans-serif;
  text-align: center;
}
.randomButton {
  float: left;
  cursor: pointer;
  z-index: 101;
}
.image-gallery {
  z-index: 100;
}
.image-gallery-thumbnail-image {
  width: 200px;
  height: 100px;
}
